DATABASE_URL="postgresql://app_jodys:CHANGE_ME@zthi295fa5zmxk8tfxaq1d9f:5432/db_jodys?schema=public"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_TRUST_HOST="true"
APP_URL="https://jodys.ebabientreprise.com"
AUTH_URL="https://jodys.ebabientreprise.com"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
ADMIN_EMAILS="clarjeanouman@gmail.com"
DOWNLOAD_APK_URL="/downloads/jodys.apk"
PLAY_STORE_URL=""
APP_STORE_URL=""
